body {
    background-color: #b8ebeb;
}

.name {
    font-family: "Libre Baskerville";
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-size: 5vw;
}

.header {
    background-color: #fcfbc6;
}

li {
    font-family: "Dela Gothic One";
    font-size: 20px;
}

.nav-link {
    color: rgb(109, 105, 170);
}

/*
Source - https://stackoverflow.com/a/45764412
Posted by vals
Retrieved 2026-07-30, License - CC BY-SA 3.0
*/

.gradient-background {
  background: linear-gradient(300deg, #fcfbc6, #eed3ab, #fcfbc6);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
  border-radius: 5px;
}

.dela-gothic {
    font-family: "Dela Gothic One";
    font-size: 2rem;
    font-weight: ;
    color: rgb(109, 105, 170);
}

.libre-baskerville {
    font-family: "Libre Baskerville";
    font-size: 4rem;
    font-weight: bold;
    color: white;
    
    border: black;
}